* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

label, select, span {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  width: fit-content;
}

table, th, td {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
  padding: 0.25rem;
  text-align: center;
}
